$size__site-main: 100%;
$size__site-sidebar: 29%;
.container {
    max-width: 1236px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
    
    @media(max-width: 1200px) {
        padding:0 50px;
    }
    @media(max-width:767px) {
        padding: 0 20px !important;
    }
    
    
}