h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__second;
	margin-bottom: 15px;
	line-height: 1.4;
	margin-top: 0;
	color: #111;
	font-weight: 700;
}
h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}
