input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid #e9e9e9;
	background-color:  #f3f3f3;
	color: rgba($color: var(--Code-wing-test-primary-rbga), $alpha: 0.4);
	border-radius: 0px;
	padding: 12px 20px;
	height: 50px;
    line-height: 21px;
    font-weight: 500;
    font-size: 16px;
    

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
	height: 50px;
	border-radius: 3px;
	line-height: 21px;
    font-weight: 500;
	font-size: 16px;
	text-indent: 12px;
	&:focus {
		color: $color__text-input-focus;
	}
}

textarea {
	width: 100%;
}
