html.js-focus-visible {
    overflow-x: hidden;
}


html.js-focus-visible {
    overflow-x: hidden;
}

.header-container{
    max-width:1444px;
    margin:0 auto;
    padding:0 20px;
}
header#masthead {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99999;
    .header-container-wrapper{
        .headingTop-with-nav{
            .heading-content{
                width: 100%;
                z-index: 2;
                background-color: rgba($color: #000000, $alpha: 0.6);
                .content-wrapper{
                    position: relative;
                    padding-left: 210px;
                    .site-branding{
                        padding:  10px;
                        position: absolute;
                        left: 0;
                        top: -60px;
                        /* margin-top: -35px; */
                        background: #fff;
                        height: 120px;
                        display: flex;
                        align-items: center;
                        transform: skew(
                            -10deg
                            );
                            transition:all 0.3s ease-in-out ;
                        a{
                            display: block;
                            img{
                                max-width: 100%;
                                display: block;
                            }
                        }
                        
                    }
                    @media(max-width:992px){
                        display: flex;
                        justify-content: space-between;
                        padding-left: 0;
                        .site-branding{
                            position: relative;
                            top:unset;
                            left: unset;
                        }
                        
                    }
                }
            }

        }
        
    }
}
.admin-bar{
    header#masthead{
        top:30px;
    }
}
@import "./sticky-heading";

/* --------------top bar------------- */
.header-top-bar {
    padding: 11px 0;
    background-color: rgba($color: var(--Code-wing-test-primary-rbga) , $alpha: 1);
    @media(max-width:992px){
        display: none;
    }
    .wrapper {
        padding-left: 210px;
        .header-top-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: row wrap;
            /* left-content */
            .header-top-right-content,
            .header-top-left-content {

                .contact-information {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin:0;
                    padding: 0;

                    .list {
                        margin-right: 16px;
                        line-height: 1;
                        border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
                        padding-right: 16px;
                        
                        &:last-child {
                            margin-right: 0;
                            border-right: 0;
                        }
                        

                        span {
                            color:#fff;
                            font-size: 14px;
                            line-height: 19px;

                        }
                    }
                }
            }
            .header-top-right-content{
                
                .contact-information{
                    .list{
                        @media(max-width:1226px){
                            &:first-child{
                                margin-right: 0;
                                padding-right: 0;
                                border-right: 0;
                            }
                            &:last-child{
                                display: none;
                            }
                        }
                        @media(max-width:1050px){
                            display: none;
                        }
                        
                    }
                }
            }

            /*------- right-content--------- */
        }
    }
   
}


