

//footer
#footer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .fade-bg-wrapper{
        max-width: 1418px;
        margin:0 auto;
        background-color: rgba($color: #fff, $alpha: 0.95);
    }
    .footer-widgets-inner {
        padding-top:98px;
        border-bottom: 1px dashed #999999;
        @media(max-width:767px){
            padding-top:66px;
        }
        .inner-wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            grid-gap: 2em;
            padding-bottom: 25px;
            
            .widget {
                margin: 0;
                .gallery {
                    margin: 0;
                }
                .menu {
                    .menu-item.current-menu-item>a {
                        &:before {
                            display: none;
                        }
                    }
                    .menu-item.menu-item-has-children > a:after{
                        display: none;
                    }
                    li {
                        a {
                            color: #545454;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 16px;
                            padding:0;
                        }
                        .sub-menu{
                            display: none;
                        }
                    }
                    
                
                   
                }
            }
            .widget ul {
                li {
                    padding: 0px 0px 14px 0px !important;
                    
                    a {
                        transition: all 0.3s ease-in-out;
                    }
                   
                }
            }
            .wp-widget {
                a {
                    color: #545454;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    
                    &:hover {
                        color: ColorVariable(secondary-color) !important;
                    }
                }
                caption,span,label,strong,td,th,p {
                    color: #545454;
                    font-size: 16px;
                }
                .widget-title {
                    font-size: 18px;
                    font-family: $font__main;
                    color: ColorVariable(secondary-color);
                    line-height: 33px;
                    padding-bottom: 8px;
                    margin-bottom: 39px;
                    font-weight: 500;
                    letter-spacing: 0.3px;
                    &:after {
                        border-bottom: 1px dashed #999999;
                        height: 1px;
                        background: unset;
                    }
                }
            }
        }
    }
    .logo{
       padding:60px 0;
        max-width: 802px;
        margin: 0 auto;
        .logo-collection{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
            grid-gap: 4em;
            place-items: center;
            justify-content: center;
            @media(max-width:767px){
                grid-gap:2em;
            }
            .logo-item{
                a{
                    display: block;
                    img{
                        display: block;
                    }
                }
            }
        }
    }

    
    .footer-bottom {
        padding: 29px 0 39px;
       
        .wrapper {
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            justify-content: space-between;
            @media(max-width: 992px) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .site-credit {
                padding: 10px 0;
                .site-info {
                    color: #242A3A;
                    font-size: 16px;
                    font-weight: 400;
                    span,
                    a {
                        color: #242A3A;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    a {
                        &:hover {
                            color: ColorVariable(secondary-color);
                        }
                    }
                }
            }
            .right-content {
                padding: 10px 0;
                text-align: right;
                
               p{
                color: #242A3A; 
                margin:0;
                    a{
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 700;
                        color:#8AB61E;
                        display: block;
                    }
               }
            }
        }
    }
}

